{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ 'title.homepage'|trans }}</h1>
	<h2>3</h2>
</div>
{% endblock %}
